CompileFlags:
  Add:
    - -Weverything
Diagnostics:
  Suppress:
    - -Wcovered-switch-default
    - -Wc++98-compat
    - -Wdeclaration-after-statement
    - -Wformat-nonliteral
    - -Wgnu-folding-constant
    - -Wmissing-prototypes
    - -Wpadded
    - -Wunsafe-buffer-usage
    - -Wunsafe-buffer-usage-in-container
    - -Wvla
    - -Wzero-as-null-pointer-constant

---

If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -std=c23

---

If:
  PathMatch: .*\.cpp
CompileFlags:
  Add:
    - -std=c++23
